@model List<HotelViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Resim</th>
                <th>TÜR</th>
                <th>Şehir</th>
                <th>İsmi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
               <tr>
                   <td><img src="@item.image_url" /></td>
                   <td>@item.dest_type</td>
                   <td>@item.city_name</td>
                   <td>@item.name</td>
               </tr>
                }
            </tbody>
        </table>
    </body>
    </html>
